$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875 !default;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-medium:          500 !default;
$font-weight-semibold:        600 !default;

$body-color: #353535;
$body-bg: #FEFCF2;
$secondary: #6c757d !default;

$link-decoration: none;
$link-hover-decoration: underline;
$link-color: #145046;

$pink:    #d63384 !default;
$pink-600: shade-color($pink, 20%) !default;
$award-color: $pink-600;
$border-color: #dee2e6 !default;

$spacer: 1rem !default;

body {
  color: $body-color;
  background-color: $body-bg;
}

a {
  text-decoration: none;
  color: $link-color;
}

a:hover {
  text-decoration: underline;
}

.artifact-title {
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  word-wrap: break-word;
}

.line-clamp-one-line {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

@supports (-webkit-line-clamp: 2) {
  .line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .line-clamp:after {
    display: none;
  }
}

// Styles for publications

.pub-row-vert-layout {
  padding-top: $spacer;
  padding-bottom: $spacer;
  position: relative;
  min-height: 150px;
}

.pub-row-vert-layout p {
  margin: 0;
  padding: 0;
}

.pub-info {
  font-size: $font-size-sm;
}

.pub-title {
  font-weight: $font-weight-semibold;
}

.pub-stats {
  color: $secondary;
}

.pub-acceptance-rate {
  font-weight: $font-weight-light;
}

.pub-award-text {
  color: $award-color;
  font-weight: $font-weight-light;
}

.pub-thumbnail {
  position: relative;
  margin-top: $spacer * 0.2;
  // align-content: space-around;
}

.pub-thumbnail-image {
  border: 1px solid $border-color;
  width: 100%;
  margin: auto;
}

/* Hide thumbnail on very small screens */
@media (max-width: 374px) {
  .pub-thumbnail {
    display: none;
  }
}

@media (min-width: 375px) {
  .pub-thumbnail {
    width: 110px;
    height: 110px;
    min-width: 110px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
  }
}