// Styles for publications

.artifact-title {
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  line-height: $line-height-sm;
  word-wrap: break-word;
}

.artifact-title a {
  color: $link-color;
  text-decoration: none;
}

.artifact-title a:hover {
  color: $link-hover-color;
  text-decoration: underline;
}

.pub-row-vert-layout {
  padding-top: $spacer;
  padding-bottom: $spacer;
  position: relative;
  min-height: 150px;
}

.pub-row-vert-layout p {
  margin: 0;
  padding: 0;
}

.pub-info {
  font-size: $font-size-sm;
}

.pub-title {
  font-weight: $font-weight-semibold;
}

.pub-authors a {
  color: $body-color;
  text-decoration: none;
}

.pub-authors a:hover {
  text-decoration: underline;
}

.pub-stats {
  color: $secondary;
}

.pub-acceptance-rate {
  font-weight: $font-weight-light;
}
