$primary: #89A55D;
// $body-bg: #F7E6CD;
// $body-color: #F7E6CD;


body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, system-ui;
}

main > div {
  height: 10rem;
  margin: 2rem;
  border: darkgrey 1px solid;
  border-radius: 8px;
  overflow: hidden;
}

h1 {
  text-align: center;
  color: $primary;
  background-color: $secondary;
}