// // Styles for publications

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875 !default;

$font-weight-medium:          500 !default;
$font-weight-semibold:        600 !default;

// TODO: figure out how to make body values take effect
$body-color: #353535;
$body-bg: #FEFCF2;

$link-decoration: none;
$link-hover-decoration: underline;
$link-color: #145046;

body {
  color: $body-color;
  background-color: $body-bg;
}

a {
  text-decoration: none;
  color: $link-color;
}

a:hover {
//   // color: $link-hover-color;
  text-decoration: underline;
}

.artifact-title {
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  word-wrap: break-word;
}

// .artifact-title a {
//   // color: $link-color;
//   text-decoration: none;
// }

// .artifact-title a:hover {
//   // color: $link-hover-color;
//   text-decoration: underline;
// }

// .pub-row-vert-layout {
//   // padding-top: $spacer;
//   // padding-bottom: $spacer;
//   position: relative;
//   min-height: 150px;
// }

// .pub-row-vert-layout p {
//   margin: 0;
//   padding: 0;
// }

// .pub-info {
//   // font-size: $font-size-sm;
// }

.pub-title {
  font-weight: $font-weight-semibold;
}

// .pub-authors a {
//   // color: $body-color;
//   text-decoration: none;
// }

// .pub-authors a:hover {
//   text-decoration: underline;
// }

// .pub-stats {
//   // color: $secondary;
// }

// .pub-acceptance-rate {
//   // font-weight: $font-weight-light;
// }

// .pub-award-text {
//   // color: $pink-600;
//   // font-weight: $font-weight-light;
// }

// .pub-thumbnail {
//   position: relative;
// }

.pub-thumbnail-image {
  // border: 1px solid $border-color;
  width: 100%;
  // max-width: 135px;
  // margin: auto;
}

/* Hide thumbnail on very small screens */
@media (max-width: 374px) {
  .pub-thumbnail {
    display: none;
  }
}

/* Show thumbnail as table cell on larger screens */
@media (min-width: 375px) {
  .pub-thumbnail {
    width: 110px;
    height: 110px;
    min-width: 110px;
    // display: table-cell;
    // vertical-align: top;
    // // padding-right: $spacer 3;
    // position: relative;
    // top: 0;
    // left: 0;
    // z-index: 10;
  }
}