---
---

// Note, without a custom SCSS here, Jekyll will inject its own stylesheet
// From here: https://github.com/jekyll/jekyll/blob/master/docs/_sass/_style.scss
// We do this because we want to use the CSS & SCSS settings from bootstrap

// Custom SCSS
// See: https://getbootstrap.com/docs/5.3/customize/sass/
// See: https://jekyllrb.com/docs/configuration/sass/
// See: https://stackoverflow.com/questions/75027499/how-can-i-customize-bootstrap-with-sass-if-i-use-it-via-cdn

@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css");
