---
---

// Note, without a custom SCSS here, Jekyll will inject its own stylesheet
// From here: https://github.com/jekyll/jekyll/blob/master/docs/_sass/_style.scss
// We do this because we want to use the CSS & SCSS settings from bootstrap

// Custom SCSS
// See: https://getbootstrap.com/docs/5.3/customize/sass/
// See: https://jekyllrb.com/docs/configuration/sass/
// See: https://stackoverflow.com/questions/75027499/how-can-i-customize-bootstrap-with-sass-if-i-use-it-via-cdn

// Note: Sass files are imported from _sass directory.

//@import "bootstrap/bootstrap";

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/functions";

// 2. Include any default variable overrides here
//$primary: #89A55D;
$body-bg: #FCF7E4;
$body-color: #353535;

// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/variables";
@import "bootstrap/variables-dark";
@import "bootstrap/maps";
@import "bootstrap/mixins";
@import "bootstrap/root";

// 4. Include any optional Bootstrap CSS as needed
@import "bootstrap/utilities";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/containers";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/accordion";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/toasts";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/spinners";
@import "bootstrap/offcanvas";
@import "bootstrap/placeholders";

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "bootstrap/utilities/api";

// 6. Additional custom code
//@import "base";